<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' },wrapper: :horizontal_form) do |f| %>
<%= f.error_notification %>

  <%= f.input :name, :input_html => {:style => 'width: 250px'}%>
  <%= f.input :email, :input_html => {:style => 'width: 250px'}%>
  <%= f.input :password, :input_html => {:style => 'width: 250px'}%>
  <i>(leave blank if you don't want to change it)</i>
  <%= f.input :password_confirmation, :input_html => {:style => 'width: 250px'} %>
  <i>(we need your current password to confirm your changes)</i><br/>
  <%= f.input :current_password, autocomplete: "off", :input_html => {:style => 'width: 250px'} %>

  <div class="form_actions">
    <%= f.submit "Update", class: "btn btn-success" %>
    </div>
<% end %>


     <h4><span class="label label-primary">Cancel my account</span></h4>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
